.card {
    overflow-y: hidden;    
    background-color: rgba(13, 46, 66, 0.5);
    color: #0A89BB;
    width: 320px;
    height: 500px;
    flex-shrink: .5;    
}

.card:hover {
    overflow-y:auto;
}

