/*Fixed sidenav, full height*/
.sidenav {
    height: 100%;
    position: fixed;
    background-color: rgba(13, 46, 66, 0.5);
    overflow-x: hidden;
    margin-left: 10px;
    grid-column: 1/1;
    grid-row: 1 / 3;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {

    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    /* color: #818181; */
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;

}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    grid-column: 1/1;
    grid-row: 1 / 3;
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}


